
#left_part
{
    -fx-background-color: WHITE;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.tag-list
{
     -fx-pref-width: 100px;
     -fx-pref-height: 200px;
}

.tag-list .tag
{
    -fx-fill: ORANGE;
    -fx-text-fill: ORANGE;
    -fx-underline: false;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.tag-list .tag:hover
{
    -fx-text-fill: derive(ORANGE , 50% );
}


.suggestions-list
{
    -fx-background-color: WHITE;
}

.suggestion-item Text
{
    -fx-fill: -fx-text-base-color;
}

.suggestion-item:focused Text
{
    -fx-fill: -fx-focused-text-base-color;
}

.suggestion-item:focused
{
    -fx-background-color: -fx-selection-bar;
    -fx-border-color: -fx-selection-bar;
}

.suggestion-item .highlight
{
    -fx-fill: ORANGE;
    -fx-font-weight: bold;
}

#file_system_view .ikonli-font-icon.image
{
    -fx-icon-code: bi-file-image;
}
#file_system_view .ikonli-font-icon.folder
{
    -fx-icon-code: bi-folder-fill;
}
#file_system_view .ikonli-font-icon.not-loaded
{
    -fx-icon-color: #EFCE4A;
}
#file_system_view .ikonli-font-icon.loading
{
    -fx-icon-color: GREY;
}
#file_system_view .ikonli-font-icon.not-fully-loaded
{
    -fx-icon-color: #EFCE4A;
}
#file_system_view .ikonli-font-icon.empty
{
    -fx-icon-color: #F3E29A;
}
#file_system_view .ikonli-font-icon.sync
{
    -fx-icon-color: GREEN;
}
#file_system_view .ikonli-font-icon.unsync
{
    -fx-icon-color: ORANGE;
}
#file_system_view .ikonli-font-icon.deleted
{
    -fx-icon-color: RED;
}

#file_system_view .drop-target
{
	-fx-background-color: LIGHTBLUE;
}

#file_system_view .cut-element
{
	-fx-background-color: LIGHTBLUE;
}

/* From moderna.css */
.v-scrollable-pane {
    -fx-background-color: -fx-control-inner-background;
}
.v-scrollable-pane:focused {
    -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-control-inner-background;
    -fx-background-insets: -1.4, -0.3, 1;
    -fx-background-radius: 2, 0, 0;
}

.v-scrollable-pane > .tile-wrapper:hover > .bottom-region {
    -fx-background-color: #E5F3FF;
}

.v-scrollable-pane > .tile-wrapper:selected > .bottom-region {
    -fx-background-color: #CCE8FF;
}

.v-scrollable-pane > .tile-wrapper:focused > .top-region {
    -fx-border-width: 1px;
    -fx-border-color: #99D1FF;
}

#thumbnails_view
{
    -fx-padding: 10px;
    -fx-tile-width: 150px;
    -fx-tile-height: 150px;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
    -fx-tile-alignment: TOP_CENTER;
}


.script-pane-list
{
    -fx-padding: 0;
}

.script-input-pane, .script-output-pane
{
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.script-button-bar
{
    -fx-spacing: 5px;
}

.save-icon
{
    -fx-icon-code: ci-save;
}

.reload-icon
{
    -fx-icon-code: bi-arrow-counterclockwise;
}

.delete-icon
{
    -fx-icon-code: bi-trash-fill;
}

.run-icon
{
    -fx-icon-code: bi-play-fill;
}

.download-progress-dialog-content .button-bar
{
    -fx-padding: 3px;
    -fx-spacing: 3px;
}

.clear-icon
{
    -fx-icon-code: ci-error;
}

.status-column
{
    -fx-alignment: CENTER;
}

.download-name-cell.already-exist
{
    -fx-text-fill: GREEN;
}

.session-icon
{
    -fx-icon-code: bi-cloud-download;
}

.post-icon
{
    -fx-icon-code: bi-folder;
}

.image-icon
{
    -fx-icon-code: bi-file-earmark-image;
}

.zip-icon
{
    -fx-icon-code: bi-file-earmark-zip;
}

.other-file-icon
{
    -fx-icon-code: bi-file-earmark;
}

.download-in-progress-icon
{
    -fx-icon-code: bi-arrow-repeat;
}

.download-complete-icon
{
    -fx-icon-code: bi-check;
    -fx-icon-color: GREEN;
}

.download-error-icon
{
    -fx-icon-code: bi-x;
    -fx-icon-color: RED;
}

.download-status-cell .ikonli-font-icon
{
    -fx-icon-size: 15;
}

.script-text-input, .script-output
{
    -fx-font-family: monospace;
}
.script-text-input Text, .script-output Text
{
    -fx-tab-size: 4;
}

#status_bar
{
    -fx-padding: 3px;
    -fx-border-width: 1px;
    -fx-border-color: lightgrey;
    -fx-alignment: center-left;
}

.download-active-icon
{
    -fx-icon-code: bi-cloud-download;
    -fx-icon-size: 12;
}
.download-inactive-icon
{
    -fx-icon-code: bi-cloud-slash;
    -fx-icon-size: 12;
}


#edit_image_tag_popup_content
{
    -fx-background-color: WHITE;
    -fx-padding: 10px;
}

#edit_image_tag_popup_content > GridPane
{
    -fx-hgap: 10px;
}

#edit_image_tag_popup_content Button
{
    -fx-max-width: Infinity;
}

.info-message
{
    -fx-text-fill: GREEN;
}

.error-message
{
    -fx-text-fill: RED;
}



#slide_show_content
{
	-fx-background-color: BLACK;
}

#slide_show_content .info-zone
{
	-fx-padding: 5px;
	-fx-background-color: rgba(255,255,255,0.9);
	-fx-background-radius: 5px;
	-fx-pref-width: -1;
	-fx-pref-height: -1;
	-fx-max-width: 0;
	-fx-max-height: 0;
	-fx-spacing: 5px;
}

#slide_show_content .image-path
{
	-fx-font-size: 1.1em;
}

#slide_show_content .tag-list
{
	-fx-pref-width: -1;
	-fx-pref-height: -1;
}

#slide_show_content .notification-label
{
    -fx-font-size: 70px;
    -fx-font-weight: bold;
}
#slide_show_content .notification-label .text
{
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 3px;
    -fx-stroke-line-cap: round;
}

#slide_show_content .video-control
{
    -fx-padding: 5px;
    -fx-alignment: center;
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 5px;
    -fx-min-width: 1000px;
    -fx-pref-width: 1000px;
    -fx-max-width: 1000px;
    -fx-pref-height: -1;
    -fx-max-height: 0;
    -fx-spacing: 5px;
}

.timeline-tooltip
{
    -fx-padding: 5px 5px 12px 5px;
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-shape: "M 100 0 L 600 0 Q 700 0 700 100 L 700 200 Q 700 300 600 300 L 400 300 L 350 400 L 300 300 L 100 300 Q 0 300 0 200 L 0 100 Q 0 0 100 0 Z";
}

.video-play-icon
{
    -fx-icon-code: bi-play-fill;
}

.video-pause-icon
{
    -fx-icon-code: bi-pause-fill;
}

.video-unknow-status-icon
{
    -fx-icon-code: bi-question;
}

.volume-off-icon
{
    -fx-icon-code: bi-volume-off-fill;
}

.volume-down-icon
{
    -fx-icon-code: bi-volume-down-fill;
}

.volume-up-icon
{
    -fx-icon-code: bi-volume-up-fill;
}

.volume-mute-icon
{
    -fx-icon-code: bi-volume-mute-fill;
}
