
#left_part
{
    -fx-background-color: WHITE;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.tag-list
{
     -fx-pref-width: 100px;
     -fx-pref-height: 200px;
}

.tag-list .tag
{
    -fx-fill: ORANGE;
    -fx-text-fill: ORANGE;
    -fx-underline: false;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.tag-list .tag:hover
{
    -fx-text-fill: derive(ORANGE , 50% );
}



.tag-filter-field .highlight
{
    -fx-fill: ORANGE;
    -fx-font-weight: bold;
}

#file_system_view .drop-target
{
	-fx-background-color: LIGHTBLUE;
}

#file_system_view .cut-element
{
	-fx-background-color: LIGHTBLUE;
}


#thumbnails_view
{
    -fx-background-color: WHITE;
    -fx-padding: 10px;
    -fx-tile-width: 150px;
    -fx-tile-height: 150px;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
    -fx-tile-alignment: TOP_CENTER;
}


.script-pane-list
{
    -fx-padding: 0;
}

.script-input-pane, .script-output-pane
{
    -fx-padding: 10px;
    -fx-spacing: 5px;
}

.script-button-bar
{
    -fx-spacing: 5px;
}

.save-icon
{
    -fx-icon-code: ci-save;
}

.reload-icon
{
    -fx-icon-code: bi-arrow-counterclockwise;
}

.delete-icon
{
    -fx-icon-code: bi-trash-fill;
}

.run-icon
{
    -fx-icon-code: bi-play-fill;
}

.download-progress-dialog-content .button-bar
{
    -fx-padding: 3px;
    -fx-spacing: 3px;
}

.clear-icon
{
    -fx-icon-code: ci-error;
}


.session-icon
{
    -fx-icon-code: bi-cloud-download;
}

.post-icon
{
    -fx-icon-code: bi-folder;
}

.image-icon
{
    -fx-icon-code: bi-file-earmark-image;
}

.zip-icon
{
    -fx-icon-code: bi-file-earmark-zip;
}

.other-file-icon
{
    -fx-icon-code: bi-file-earmark;
}

.download-in-progress-icon
{
    -fx-icon-code: bi-arrow-repeat;
}

.download-complete-icon
{
    -fx-icon-code: bi-check;
    -fx-icon-color: GREEN;
}

.download-error-icon
{
    -fx-icon-code: bi-x;
    -fx-icon-color: RED;
}

.download-status-cell .ikonli-font-icon
{
    -fx-icon-size: 15;
}

.script-text-input, .script-output
{
    -fx-font-family: monospace;
}
.script-text-input Text, .script-output Text
{
    -fx-tab-size: 4;
}

#status_bar
{
    -fx-padding: 3px;
    -fx-border-width: 1px;
    -fx-border-color: lightgrey;
    -fx-alignment: center-left;
}

.download-active-icon
{
    -fx-icon-code: bi-cloud-download;
    -fx-icon-size: 12;
}
.download-inactive-icon
{
    -fx-icon-code: bi-cloud-slash;
    -fx-icon-size: 12;
}


#edit_image_tag_popup_content
{
    -fx-background-color: WHITE;
    -fx-padding: 10px;
}

#edit_image_tag_popup_content > GridPane
{
    -fx-hgap: 10px;
}

#edit_image_tag_popup_content Button
{
    -fx-max-width: Infinity;
}

.info-message
{
    -fx-text-fill: GREEN;
}

.error-message
{
    -fx-text-fill: RED;
}



#slide_show_content
{
	-fx-background-color: BLACK;
}

#slide_show_content .info-zone
{
	-fx-padding: 5px;
	-fx-background-color: rgba(255,255,255,0.9);
	-fx-background-radius: 5px;
	-fx-pref-width: -1;
	-fx-pref-height: -1;
	-fx-max-width: 0;
	-fx-max-height: 0;
	-fx-spacing: 5px;
}

#slide_show_content .image-path
{
	-fx-font-size: 1.1em;
}

#slide_show_content .tag-list
{
	-fx-pref-width: -1;
	-fx-pref-height: -1;
}